.button {
    color: var(--primary-heading-color);
    border: 1px solid var(--primary-heading-color);
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;

    &:hover,
    &:focus {
        color: #fff;
        background-color: var(--accent-color);
    }
}

.btn_back {
    display: flex;
    border: none;
    padding: 6px 10px;
    margin-right: 386px;
    cursor: pointer;
    background-color: transparent;

    &>span {
        font-size: 16px;
        font-weight: 600;
        color: var(--primary-heading-color);
    }
}