:root {
  --primary-text-color: #ADB5BD;
  --primary-heading-color: #2C7DFA;
  --secondary-heading-color: #37352F;
  --accent-color: #2C7DFA;
  --primary-background-color: #F5F5F5;
  // --secondary-text-color: #fff;
  --secondary-background-color: #FFFFFF;
  // --primary-time-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "IBM Plex Sans", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}